[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/cml1010101/isaac_ros_common
[submodule "src/isaac_ros_nitros"]
	path = src/isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros
[submodule "src/isaac_ros_apriltag"]
	path = src/isaac_ros_apriltag
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_apriltag
[submodule "src/isaac_ros_image_pipeline"]
	path = src/isaac_ros_image_pipeline
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_image_pipeline
[submodule "src/isaac_ros_nvblox"]
	path = src/isaac_ros_nvblox
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nvblox
[submodule "src/isaac_ros_pose_estimation"]
	path = src/isaac_ros_pose_estimation
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_pose_estimation
[submodule "src/isaac_ros_dnn_inference"]
	path = src/isaac_ros_dnn_inference
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_dnn_inference
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "src/navigation2"]
	path = src/navigation2
	url = https://github.com/ros-planning/navigation2
	branch = humble
[submodule "src/CmakeWpilib"]
	path = src/CmakeWpilib
	url = https://github.com/ThadHouse/CmakeWpilib
[submodule "src/moveit2"]
	path = src/moveit2
	url = https://github.com/ros-planning/moveit2
	branch = humble
[submodule "src/octomap"]
	path = src/octomap
	url = https://github.com/OctoMap/octomap.git
[submodule "src/eigen_stl_containers"]
	path = src/eigen_stl_containers
	url = https://github.com/ros/eigen_stl_containers.git
[submodule "src/catkin_tools"]
	path = src/catkin_tools
	url = https://github.com/catkin/catkin_tools.git
