[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/cml1010101/isaac_ros_common
[submodule "src/isaac_ros_nitros"]
	path = src/isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros
[submodule "src/isaac_ros_apriltag"]
	path = src/isaac_ros_apriltag
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_apriltag
[submodule "src/isaac_ros_image_pipeline"]
	path = src/isaac_ros_image_pipeline
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_image_pipeline
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/ros-drivers/usb_cam